# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Dataset
data/raw/
data/processed/
data/registered_faces/

# Trained models and outputs
models/
outputs/

# Environment files
.env

# IDE
.vscode/
.idea/
